<h1>
  List of all movies
</h1>

<%= render partial: "zebra/elephant", locals: { person: "Alice" } %>

<hr>

<%= render partial: "zebra/elephant", locals: { person: "Bob" } %>

<div>
  <%= link_to "New movie", new_movie_path %>
</div>

<hr>

<div class="row" >
  <% @movies.each do |movie| %>
    <div class="col-md-3">
      <%= render partial: "movies/movie_card", locals: { movie: movie }%>
    </div>
  <% end %>
</div>

